<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Weather App</title>
        <link rel="icon" type="image/png" href="Images/EboracumEsports.jpg"/>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <nav>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbar">
                    <div class="navbar-nav">
                      <a class="nav-item nav-link" href="/home">Home</a>
                      <a class="nav-item nav-link" href="/logout">Logout</a>
                      <a class="nav-item nav-link" href="/login">Login</a>
                      <a class="nav-item nav-link" href="/sign-up">Sign Up</a>
                        <a class="nav-item nav-link" href="/weather">Weather App</a>
                    </div>
                </div>
              </nav>
        </nav>

        <div class="hero-image">
            <div class="hero-text">
              <h1 style="font-size:50px">Weather App</h1>
            </div>
          </div>

        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-4 is-4">
                        <form method="POST">
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <input class="input" name="city" type="text" placeholder="City Name">
                                </div>
                                <div class="control">
                                    <button class="button is-info">
                                        Add City
                                    </button>
                                </div>
                            </div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% set message_class = 'is-success' %}
    
                                    {% if category == 'error' %}
                                        {% set message_class = 'is-danger' %}
                                    {% endif %}
                                    <div class="notification {{ message_class }}">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-4 is-4">
                        {% for weather in weather_data %}
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <div class="a"><span class="title">{{ weather.city }}</span></div>
                                            {{weather.country}}
                                            <br>
                                            <span class="subtitle">{{ weather.temperature }}° C</span>
                                            <br> {{ weather.description }}
                                            <br> Wind speed: {{ weather.speed }}
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <a href="{{ url_for('delete_city', name=weather.city) }}">
                                        <button class="delete">X</button>
                                    </a>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
        </footer>

    </body>
</html>